@import 'reset';
@import 'variables';
@import 'mixins';

*::before,
*::after,
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.main_container {
  display: flex;
  min-height: 100vh;
  @include h-center;
  position: relative;

  .game_start_options {
    align-self: center;
    display: flex;
    flex-direction: column;
    border: $left-section-border;
    @include h-center;
    @include b-radius-3px;
    transition: transform 0.3s ease-in-out;
    height: max-content;
    max-width: 100vw;
    padding: 1rem;

    .card {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      .same-name-err {
        display: none;
        position: absolute;
        left: 0;
        top: -12px;
        color: red;
        font-size: 0.6rem;

        @include screen-size('md') {
          top: -15px;
          font-size: 0.7rem;
        }
      }

      img {
        width: 70px;
        height: 70px;
      }

      .two_players {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        border: $left-section-border;
        @include b-radius-3px;
        position: relative;
        transition: box-shadow 0.2s ease-in-out;
        padding: 1rem 0;

        &:hover {
          @include pointer;
        }

        input {
          text-align: center;
          font-weight: 700;
          color: #5d5d5d;
          text-transform: capitalize;
          font-size: 1.2rem;
          line-height: 1.5;
          margin-top: 0;
          margin-left: 1rem;
          max-width: 50%;
          border-radius: 2px;
          border-width: 0.5px;

          &:focus {
            outline: none;
          }

          @include screen-size('md') {
            margin-top: 1rem;
            margin-left: 0;
            max-width: 60%;
          }
        }

        & > div {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;

          @include screen-size('md') {
            flex-direction: column;
          }
        }

        &.selected {
          // transform: scale(1.03);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
            0 3px 6px rgba(0, 0, 0, 0.23);
        }

        @include screen-size('md') {
          flex-direction: row;
          padding: 1rem;
        }
      }

      .player_vs_ai {
        @extend .two_players;
        margin-bottom: 0;
      }
    }

    .controls {
      display: flex;
      flex-direction: column;

      button {
        padding: 0.5rem 3rem;
        font-size: 1.2rem;
        line-height: 1.5;
        text-transform: uppercase;

        &:hover {
          @include pointer;
        }

        &:first-child {
          margin-bottom: 10px;
        }

        &.shake-horizontal {
          animation: shake-horizontal 0.8s
            cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
        }
      }

      @include screen-size('md') {
        flex-direction: row;
        justify-content: space-around;

        button {
          &:first-child {
            margin-bottom: 0;
          }
        }
      }
    }

    @include screen-size('md') {
      padding: 2rem;

      &.center {
        transform: translateX(-200px);
      }
    }
  }

  .left_section {
    width: 320px;
    height: 100vh;
    background-color: $main-bg-color;
    position: absolute;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    display: none;
    color: white;

    .height-limiter {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      padding: 1rem;
      max-height: 900px;

      .heading {
        display: flex;
        position: relative;

        .left-branding {
          margin-top: 5rem;
          display: none;
          align-items: center;
          justify-content: center;
          width: 100%;

          img {
            @include h50w50-px;
            margin-right: 1rem;
          }

          h1 {
            font-size: 2rem;
            line-height: 1.2;
            text-transform: capitalize;
          }

          @include screen-size('md') {
            display: flex;
            margin-top: 0;
            justify-content: flex-start;

            h1 {
              @include fontS_2-5rem;
            }

            img {
              margin-right: 1rem;
              margin-bottom: 0;
            }
          }
        }
        .burger_menu_btn {
          position: absolute;
          width: 29px;
          height: 27px;
          right: -3.5rem;
          top: -10px;
          transition: right 0.3s ease-in-out;
          background: url('https://www.flaticon.com/svg/static/icons/svg/130/130918.svg');
          filter: invert(67%) sepia(8%) saturate(20000%) hue-rotate(195deg)
            brightness(95%) contrast(102%);
          background-size: cover;
          transform: rotateY(180deg);

          &.close {
            background: url('https://www.flaticon.com/svg/static/icons/svg/1828/1828747.svg');
            filter: invert(100%);
            background-size: 60%;
            background-position: center;
            background-repeat: no-repeat;
          }

          &:hover {
            @include pointer;
          }

          @include screen-size('md') {
            right: -4.5rem;
            top: 0;

            &.menu-btn-for-md {
              right: -4.5rem !important;
              top: 0 !important;
            }
          }
        }
      }
      .stats {
        padding: 1rem 0;
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          border: solid #5d5d5d 1px;
          @include b-radius-3px;
          padding: 5px;
          width: 100%;
          font-size: 1.8rem;
          text-align: center;
          text-transform: capitalize;
          margin-bottom: 3rem;
        }

        .score {
          width: 100%;
          display: grid;
          grid-template-columns: 0.6fr 1fr 1fr;
          grid-gap: 1px;
          font-size: 1.5rem;
          grid-auto-flow: column;
          background-color: #5d5d5d;

          span {
            background-color: #7f9cf5;
            width: 100%;
            padding: 10px 0;
          }

          span:first-child {
            grid-column: 1 / span 1;
            grid-row: 1;
          }
          span:nth-child(2) {
            grid-column: 2 / span 1;
            grid-row: 1;
            text-align: center;
            text-transform: capitalize;
          }
          span:nth-child(3) {
            grid-column: 3 / span 1;
            grid-row: 1;
            text-align: center;
            text-transform: capitalize;
          }

          span:nth-last-child(-n + 3) {
            grid-column: 1 / span 1;
            text-transform: capitalize;
          }

          span:nth-last-child(-n + 9):not(:nth-last-child(-n + 3)) {
            text-align: center;
          }

          span.draw {
            grid-column: 2 / span 2;
            grid-row: 4;
          }
        }

        .round_nbr {
          font-size: 2.5rem;
          position: absolute;
          bottom: 50px;

          span:first-child {
            margin-right: 1rem;
            text-transform: capitalize;
          }
        }

        @include screen-size('md') {
          grid-template-columns: 0.7fr 1fr 1fr;
          margin: 5rem 10px 0 10px;

          span {
            padding: 10px;
          }
        }
      }
    }

    @include screen-size('sm') {
      flex: 0 0 400px;
    }

    @include screen-size('md') {
      position: static;
    }
  }
  .right_section {
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3.5rem;
    transition: transform 0.3s ease-in-out;
    display: none;

    .right-branding {
      display: flex;
      align-items: center;
      @include mb-3rem;

      img {
        @include h50w50-px;
        margin-right: 1rem;
      }

      h1 {
        font-size: 2rem;
        line-height: 1.2;
        text-transform: capitalize;
      }

      @include screen-size('sm') {
        margin-top: 0;
        justify-content: flex-start;

        h1 {
          @include fontS_2-5rem;
        }

        img {
          margin-right: 1rem;
          margin-bottom: 0;
        }
      }

      @include screen-size('md') {
        display: none;
      }
    }

    .turns {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      font-size: 1.3rem;
      text-transform: capitalize;
      padding: 0 3rem;
      @include mb-3rem;

      .player {
        display: flex;
        align-items: center;
        border: $left-section-border;
        @include b-radius-3px;
        padding: 0 0.5rem 0 0;
        width: 50%;
        margin-bottom: 1rem;
        transition: transform 0.2s ease-in-out;

        div {
          width: 30px;
          height: 30px;
          margin-right: 0.5rem;
          background: url('https://www.flaticon.com/svg/static/icons/svg/1193/1193255.svg');
          background-size: 90%;
          background-position: center;
          background-repeat: no-repeat;
          // transition: transform 0.2s ease-in-out;
        }

        &:nth-child(2) > div:first-child {
          background: url('https://www.flaticon.com/svg/static/icons/svg/1193/1193286.svg');
          background-size: 90%;
          background-position: center;
          background-repeat: no-repeat;
        }

        &:nth-child(2) > div:first-child.computer {
          background: url('https://www.flaticon.com/svg/static/icons/svg/3398/3398865.svg');
          background-size: 90%;
          background-position: center;
          background-repeat: no-repeat;
        }

        &.active {
          border-color: #2d9cdb;
          transform: scale(1.1);
        }

        &:first-child {
          @include screen-size('sm') {
            margin-right: 1rem;
          }
        }

        @include screen-size('sm') {
          margin-bottom: 0;
        }
      }

      @include screen-size('sm') {
        flex-direction: row;
        padding: 0;

        width: 290px;
      }

      @include screen-size('md') {
        display: flex;

        width: 320px;
      }
    }

    .game_board {
      display: grid;
      grid-template-columns: repeat(3, 90px);
      grid-gap: 10px;
      justify-content: center;

      .board_column {
        height: 90px;
        background-color: #e2e8f0;
        @include b-radius-3px;

        &:hover {
          @include pointer;
        }
      }

      @include screen-size('sm') {
        grid-template-columns: repeat(3, 100px);

        .board_column {
          height: 100px;
        }
      }
    }

    @include screen-size('sm') {
      justify-content: center;
      margin-top: 0;
    }

    @include screen-size('md') {
      &.center {
        transform: translateX(-200px);
      }
    }
  }

  .roundEnded {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    backdrop-filter: blur(3px);
    display: none;
    justify-content: center;
    align-items: center;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 150px;
      min-width: 300px;
      padding: 2.5rem 2rem;
      @include b-radius-3px;
      background-color: #fff;
      animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.16), 0 0 15px rgba(0, 0, 0, 0.23);
      position: relative;

      div {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        bottom: 1rem;
        right: 1.1rem;
      }

      h1 {
        font-size: 1.4rem;
        margin-bottom: 3rem;
        font-weight: 500;
      }

      button {
        // border: solid 1px #5d5d5d;
        border: none;
        border-bottom: solid 1px #5d5d5d;
        background: transparent;
        font-size: 1rem;
        padding: 0.2rem;
        text-transform: capitalize;
        // @include b-radius-3px;
        @include pointer;

        &:focus {
          outline: none;
        }

        &:first-child {
          margin-right: 0.5rem;
        }
      }

      @include screen-size('sm') {
        min-width: 345px;

        h1 {
          font-size: 1.6rem;
        }
      }
    }
  }

  @include screen-size('md') {
    overflow: hidden;
  }
}

// javascript classes for editing board column background
.js-o {
  background: url('https://www.flaticon.com/svg/static/icons/svg/16/16894.svg'),
    #e2e8f0;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;

  &.err {
    background: url('https://www.flaticon.com/svg/static/icons/svg/16/16894.svg'),
      rgba(255, 0, 0, 0.7) !important;
    background-size: 60% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
}

.js-x {
  background: url('https://www.flaticon.com/svg/static/icons/svg/109/109602.svg'),
    #e2e8f0;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;

  &.err {
    background: url('https://www.flaticon.com/svg/static/icons/svg/109/109602.svg'),
      rgba(255, 0, 0, 0.7) !important;
    background-size: 60% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
}

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
