@import 'reset';
@import 'variables';
@import 'mixins';

*::before,
*::after,
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.main_container {
  display: flex;
  max-width: 1140px;
  min-height: 100vh;
  @include h-center;
  position: relative;
  border: $left-section-border;

  .game_start_options {
    align-self: center;
    display: flex;
    flex-direction: column;
    border: $left-section-border;
    @include h-center;
    @include b-radius-3px;
    transition: transform 0.3s ease-in-out;
    height: max-content;
    max-width: 100vw;
    padding: 1rem;

    .card {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      img {
        width: 70px;
        height: 70px;
      }

      .two_players {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        border: $left-section-border;
        @include b-radius-3px;
        position: relative;
        transition: transform 0.2s ease-in-out;
        padding: 1rem 0;

        &:hover {
          @include pointer;
        }

        input {
          text-align: center;
          font-weight: 700;
          color: #5d5d5d;
          text-transform: capitalize;
          font-size: 1.2rem;
          line-height: 1.5;
          margin-top: 0;
          margin-left: 1rem;
          max-width: 50%;

          &:focus {
            outline: none;
          }

          @include screen-size('md') {
            margin-top: 1rem;
            margin-left: 0;
            max-width: max-content;
          }
        }

        & > div {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;

          @include screen-size('md') {
            flex-direction: column;
          }
        }

        &.selected {
          transform: scale(1.03);
          border: solid 2px rgba(0, 128, 128);
        }

        @include screen-size('md') {
          flex-direction: row;
          padding: 1rem;
        }
      }

      .player_vs_ai {
        @extend .two_players;
        margin-bottom: 0;
      }
    }

    .controls {
      display: flex;
      flex-direction: column;

      button {
        padding: 0.5rem 3rem;
        font-size: 1.2rem;
        line-height: 1.5;
        text-transform: uppercase;

        &:hover {
          @include pointer;
        }

        &:first-child {
          margin-bottom: 10px;
        }
      }

      @include screen-size('md') {
        flex-direction: row;
        justify-content: space-around;

        button {
          &:first-child {
            margin-bottom: 0;
          }
        }
      }
    }

    @include screen-size('md') {
      padding: 2rem;

      &.center {
        transform: translateX(-200px);
      }
    }
  }

  .left_section {
    width: 320px;
    height: 100vh;
    background-color: $main-bg-color;
    position: absolute;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    display: none;

    .height-limiter {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      padding: 1rem;
      max-height: 900px;

      .heading {
        display: flex;
        position: relative;

        .left-branding {
          margin-top: 5rem;
          display: none;
          align-items: center;
          justify-content: center;
          width: 100%;

          img {
            @include h50w50-px;
            margin-right: 1rem;
          }

          h1 {
            font-size: 2rem;
            line-height: 1.2;
            text-transform: capitalize;
          }

          @include screen-size('md') {
            display: flex;
            margin-top: 0;
            justify-content: flex-start;

            h1 {
              @include fontS_2-5rem;
            }

            img {
              margin-right: 1rem;
              margin-bottom: 0;
            }
          }
        }
        .burger_menu_btn {
          position: absolute;
          @include h50w50-px;
          right: -5rem;
          top: -10px;
          transition: right 0.3s ease-in-out;
          background: url('http://www.flaticon.com/svg/static/icons/svg/1828/1828859.svg');
          background-size: cover;

          &.close {
            background: url('https://www.flaticon.com/svg/static/icons/svg/1828/1828747.svg');
            background-size: 60%;
            background-position: center;
            background-repeat: no-repeat;
          }

          &:hover {
            @include pointer;
          }

          @include screen-size('md') {
            right: -7rem;
            top: 0;
          }
        }
      }
      .stats {
        border: $left-section-border;
        @include b-radius-3px;
        padding: 1rem;

        .score {
          h2 {
            font-size: 1.5rem;
            text-align: center;
            text-transform: capitalize;
            margin-bottom: 1.5rem;
          }

          .first_score,
          .second_score {
            font-size: 1.3rem;
            margin-bottom: 0.5rem;

            span:first-child {
              margin-right: 1rem;
              text-transform: capitalize;
            }
          }
        }

        .round_nbr {
          border-top: $left-section-border;
          font-size: 1.7rem;
          margin-top: 1rem;
          padding-top: 1rem;
          text-align: center;

          span:first-child {
            margin-right: 1rem;
            text-transform: capitalize;
          }
        }

        @include screen-size('md') {
          margin: 0 1rem;
        }
      }
      .mark_selection {
        border: $left-section-border;
        @include b-radius-3px;
        padding: 1.5rem;
        position: relative;

        %background_and_padding {
          display: flex;
          justify-content: center;
          align-content: center;
          padding: 0.6rem;
          background-color: black;
          border: solid $main-bg-color 2px;
          @include b-radius-3px;

          &:hover {
            @include pointer;
          }
        }

        h2 {
          font-size: 1.3rem;
          text-transform: capitalize;
          position: absolute;
          top: -14px;
          left: 5px;
          background-color: $main-bg-color;
          padding: 0 5px;
        }

        .marks {
          display: flex;
          justify-content: space-around;

          .x {
            @extend %background_and_padding;

            img {
              filter: invert(100%);
            }
          }

          .o {
            @extend %background_and_padding;

            img {
              filter: invert(100%);
            }
          }

          .selected {
            border: solid 2px red;
          }
        }

        @include screen-size('md') {
          margin: 0 1rem;
        }
      }
    }

    @include screen-size('sm') {
      flex: 0 0 400px;
    }

    @include screen-size('md') {
      position: static;
    }
  }
  .right_section {
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 3.5rem;
    transition: transform 0.3s ease-in-out;
    display: none;

    .right-branding {
      display: flex;
      align-items: center;
      @include mb-3rem;

      img {
        @include h50w50-px;
        margin-right: 1rem;
      }

      h1 {
        font-size: 2rem;
        line-height: 1.2;
        text-transform: capitalize;
      }

      @include screen-size('sm') {
        margin-top: 0;
        justify-content: flex-start;

        h1 {
          @include fontS_2-5rem;
        }

        img {
          margin-right: 1rem;
          margin-bottom: 0;
        }
      }

      @include screen-size('md') {
        display: none;
      }
    }

    .turns {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      font-size: 1.4rem;
      text-transform: capitalize;
      padding: 0 3rem;
      @include mb-3rem;

      .player {
        display: flex;
        align-items: center;
        border: $left-section-border;
        @include b-radius-3px;
        padding: 0 0.5rem 0 0;
        margin-bottom: 1rem;

        div {
          width: 30px;
          height: 30px;
          margin-right: 0.5rem;
          background: url('https://www.flaticon.com/svg/static/icons/svg/1193/1193255.svg');
          background-size: 90%;
          background-position: center;
          background-repeat: no-repeat;
          transition: transform 0.2s ease-in-out;
        }

        &:nth-child(2) > div:first-child {
          background: url('https://www.flaticon.com/svg/static/icons/svg/1193/1193286.svg');
          background-size: 90%;
          background-position: center;
          background-repeat: no-repeat;
        }

        &.active {
          border-color: rgb(30, 143, 255);
          transform: scale(1.2);
        }

        &:first-child {
          @include screen-size('sm') {
            margin-right: 2rem;
          }
        }

        @include screen-size('sm') {
          margin-bottom: 0;
        }
      }

      @include screen-size('sm') {
        flex-direction: row;
        padding: 0;
      }

      @include screen-size('md') {
        display: flex;
      }
    }

    .game_board {
      display: grid;
      grid-template-columns: repeat(3, 90px);
      grid-gap: 10px;
      justify-content: center;

      .board_column {
        height: 90px;
        background-color: $main-bg-color;
        @include b-radius-3px;

        &:hover {
          @include pointer;
        }
      }

      @include screen-size('sm') {
        grid-template-columns: repeat(3, 100px);

        .board_column {
          height: 100px;
        }
      }
    }

    .winner {
      display: none;
      font-size: 2rem;

      text-transform: capitalize;
      text-align: center;

      @include screen-size('sm') {
        margin-top: 3rem;
      }
    }

    @include screen-size('sm') {
      justify-content: center;
      margin-top: 0;
    }

    @include screen-size('md') {
      &.center {
        transform: translateX(-200px);
      }
    }
  }

  @include screen-size('md') {
    overflow: hidden;
  }
}

// javascript classes for editing board column background
.js-o {
  background: url('https://www.flaticon.com/svg/static/icons/svg/16/16894.svg'),
    #e5e5e5;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;

  &.err {
    background: url('https://www.flaticon.com/svg/static/icons/svg/16/16894.svg'),
      rgba(255, 0, 0, 0.7) !important;
    background-size: 60% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
}

.js-x {
  background: url('https://www.flaticon.com/svg/static/icons/svg/109/109602.svg'),
    #e5e5e5;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;

  &.err {
    background: url('https://www.flaticon.com/svg/static/icons/svg/109/109602.svg'),
      rgba(255, 0, 0, 0.7) !important;
    background-size: 60% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
}
