/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*::before,
*::after,
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.main_container {
  display: flex;
  max-width: 1140px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: solid 1.5px #d3d3d3;
}
.main_container .game_start_options {
  align-self: center;
  display: flex;
  flex-direction: column;
  border: solid 1.5px #d3d3d3;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  transition: transform 0.3s ease-in-out;
  height: max-content;
  max-width: 100vw;
  padding: 1rem;
}
.main_container .game_start_options .card {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.main_container .game_start_options .card img {
  width: 70px;
  height: 70px;
}
.main_container .game_start_options .card .two_players, .main_container .game_start_options .card .player_vs_ai {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  border: solid 1.5px #d3d3d3;
  border-radius: 3px;
  position: relative;
  transition: transform 0.2s ease-in-out;
  padding: 1rem 0;
}
.main_container .game_start_options .card .two_players:hover, .main_container .game_start_options .card .player_vs_ai:hover {
  cursor: pointer;
}
.main_container .game_start_options .card .two_players input, .main_container .game_start_options .card .player_vs_ai input {
  text-align: center;
  font-weight: 700;
  color: #5d5d5d;
  text-transform: capitalize;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 0;
  margin-left: 1rem;
  max-width: 50%;
  border-radius: 2px;
  border-width: 0.5px;
}
.main_container .game_start_options .card .two_players input:focus, .main_container .game_start_options .card .player_vs_ai input:focus {
  outline: none;
}
@media screen and (min-width: 768px) {
  .main_container .game_start_options .card .two_players input, .main_container .game_start_options .card .player_vs_ai input {
    margin-top: 1rem;
    margin-left: 0;
    max-width: 60%;
  }
}
.main_container .game_start_options .card .two_players > div, .main_container .game_start_options .card .player_vs_ai > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  .main_container .game_start_options .card .two_players > div, .main_container .game_start_options .card .player_vs_ai > div {
    flex-direction: column;
  }
}
.main_container .game_start_options .card .two_players.selected, .main_container .game_start_options .card .selected.player_vs_ai {
  transform: scale(1.03);
  border: solid 2px teal;
}
@media screen and (min-width: 768px) {
  .main_container .game_start_options .card .two_players, .main_container .game_start_options .card .player_vs_ai {
    flex-direction: row;
    padding: 1rem;
  }
}
.main_container .game_start_options .card .player_vs_ai {
  margin-bottom: 0;
}
.main_container .game_start_options .controls {
  display: flex;
  flex-direction: column;
}
.main_container .game_start_options .controls button {
  padding: 0.5rem 3rem;
  font-size: 1.2rem;
  line-height: 1.5;
  text-transform: uppercase;
}
.main_container .game_start_options .controls button:hover {
  cursor: pointer;
}
.main_container .game_start_options .controls button:first-child {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .main_container .game_start_options .controls {
    flex-direction: row;
    justify-content: space-around;
  }
  .main_container .game_start_options .controls button:first-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .main_container .game_start_options {
    padding: 2rem;
  }
  .main_container .game_start_options.center {
    transform: translateX(-200px);
  }
}
.main_container .left_section {
  width: 320px;
  height: 100vh;
  background-color: #e5e5e5;
  position: absolute;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  display: none;
}
.main_container .left_section .height-limiter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 1rem;
  max-height: 900px;
}
.main_container .left_section .height-limiter .heading {
  display: flex;
  position: relative;
}
.main_container .left_section .height-limiter .heading .left-branding {
  margin-top: 5rem;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.main_container .left_section .height-limiter .heading .left-branding img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}
.main_container .left_section .height-limiter .heading .left-branding h1 {
  font-size: 2rem;
  line-height: 1.2;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .main_container .left_section .height-limiter .heading .left-branding {
    display: flex;
    margin-top: 0;
    justify-content: flex-start;
  }
  .main_container .left_section .height-limiter .heading .left-branding h1 {
    font-size: 2.5rem;
  }
  .main_container .left_section .height-limiter .heading .left-branding img {
    margin-right: 1rem;
    margin-bottom: 0;
  }
}
.main_container .left_section .height-limiter .heading .burger_menu_btn {
  position: absolute;
  width: 50px;
  height: 50px;
  right: -5rem;
  top: -10px;
  transition: right 0.3s ease-in-out;
  background: url("http://www.flaticon.com/svg/static/icons/svg/1828/1828859.svg");
  background-size: cover;
}
.main_container .left_section .height-limiter .heading .burger_menu_btn.close {
  background: url("https://www.flaticon.com/svg/static/icons/svg/1828/1828747.svg");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}
.main_container .left_section .height-limiter .heading .burger_menu_btn:hover {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .main_container .left_section .height-limiter .heading .burger_menu_btn {
    right: -7rem;
    top: 0;
  }
}
.main_container .left_section .height-limiter .stats {
  border: solid 1.5px #d3d3d3;
  border-radius: 3px;
  padding: 1rem;
}
.main_container .left_section .height-limiter .stats .score h2 {
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}
.main_container .left_section .height-limiter .stats .score .first_score,
.main_container .left_section .height-limiter .stats .score .second_score {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.main_container .left_section .height-limiter .stats .score .first_score span:first-child,
.main_container .left_section .height-limiter .stats .score .second_score span:first-child {
  display: inline-block;
  min-width: 40%;
  margin-right: 1rem;
  text-transform: capitalize;
}
.main_container .left_section .height-limiter .stats .round_nbr {
  border-top: solid 1.5px #d3d3d3;
  font-size: 1.7rem;
  margin-top: 1rem;
  padding-top: 1rem;
  text-align: center;
}
.main_container .left_section .height-limiter .stats .round_nbr span:first-child {
  margin-right: 1rem;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .main_container .left_section .height-limiter .stats {
    margin: 0 1rem;
  }
}
.main_container .left_section .height-limiter .mark_selection {
  border: solid 1.5px #d3d3d3;
  border-radius: 3px;
  padding: 1.5rem;
  position: relative;
}
.main_container .left_section .height-limiter .mark_selection .marks .o, .main_container .left_section .height-limiter .mark_selection .marks .x {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0.6rem;
  background-color: black;
  border: solid #e5e5e5 2px;
  border-radius: 3px;
}
.main_container .left_section .height-limiter .mark_selection .marks .o:hover, .main_container .left_section .height-limiter .mark_selection .marks .x:hover {
  cursor: pointer;
}
.main_container .left_section .height-limiter .mark_selection h2 {
  font-size: 1.3rem;
  text-transform: capitalize;
  position: absolute;
  top: -14px;
  left: 5px;
  background-color: #e5e5e5;
  padding: 0 5px;
}
.main_container .left_section .height-limiter .mark_selection .marks {
  display: flex;
  justify-content: space-around;
}
.main_container .left_section .height-limiter .mark_selection .marks .x img {
  filter: invert(100%);
}
.main_container .left_section .height-limiter .mark_selection .marks .o img {
  filter: invert(100%);
}
.main_container .left_section .height-limiter .mark_selection .marks .selected {
  border: solid 2px red;
}
@media screen and (min-width: 768px) {
  .main_container .left_section .height-limiter .mark_selection {
    margin: 0 1rem;
  }
}
@media screen and (min-width: 576px) {
  .main_container .left_section {
    flex: 0 0 400px;
  }
}
@media screen and (min-width: 768px) {
  .main_container .left_section {
    position: static;
  }
}
.main_container .right_section {
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 3.5rem;
  transition: transform 0.3s ease-in-out;
  display: none;
}
.main_container .right_section .right-branding {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}
.main_container .right_section .right-branding img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}
.main_container .right_section .right-branding h1 {
  font-size: 2rem;
  line-height: 1.2;
  text-transform: capitalize;
}
@media screen and (min-width: 576px) {
  .main_container .right_section .right-branding {
    margin-top: 0;
    justify-content: flex-start;
  }
  .main_container .right_section .right-branding h1 {
    font-size: 2.5rem;
  }
  .main_container .right_section .right-branding img {
    margin-right: 1rem;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .main_container .right_section .right-branding {
    display: none;
  }
}
.main_container .right_section .turns {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  font-size: 1.3rem;
  text-transform: capitalize;
  padding: 0 3rem;
  margin-bottom: 3rem;
}
.main_container .right_section .turns .player {
  display: flex;
  align-items: center;
  border: solid 1.5px #d3d3d3;
  border-radius: 3px;
  padding: 0 0.5rem 0 0;
  width: 50%;
  margin-bottom: 1rem;
}
.main_container .right_section .turns .player div {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
  background: url("https://www.flaticon.com/svg/static/icons/svg/1193/1193255.svg");
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.2s ease-in-out;
}
.main_container .right_section .turns .player:nth-child(2) > div:first-child {
  background: url("https://www.flaticon.com/svg/static/icons/svg/1193/1193286.svg");
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}
.main_container .right_section .turns .player:nth-child(2) > div:first-child.computer {
  background: url("https://www.flaticon.com/svg/static/icons/svg/3398/3398865.svg");
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}
.main_container .right_section .turns .player.active {
  border-color: #1e8fff;
  transform: scale(1.1);
}
@media screen and (min-width: 576px) {
  .main_container .right_section .turns .player:first-child {
    margin-right: 1rem;
  }
}
@media screen and (min-width: 576px) {
  .main_container .right_section .turns .player {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 576px) {
  .main_container .right_section .turns {
    flex-direction: row;
    padding: 0;
    width: 290px;
  }
}
@media screen and (min-width: 768px) {
  .main_container .right_section .turns {
    display: flex;
    width: 320px;
  }
}
.main_container .right_section .game_board {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  grid-gap: 10px;
  justify-content: center;
}
.main_container .right_section .game_board .board_column {
  height: 90px;
  background-color: #e5e5e5;
  border-radius: 3px;
}
.main_container .right_section .game_board .board_column:hover {
  cursor: pointer;
}
@media screen and (min-width: 576px) {
  .main_container .right_section .game_board {
    grid-template-columns: repeat(3, 100px);
  }
  .main_container .right_section .game_board .board_column {
    height: 100px;
  }
}
.main_container .right_section .winner {
  display: none;
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .main_container .right_section .winner {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 576px) {
  .main_container .right_section {
    justify-content: center;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .main_container .right_section.center {
    transform: translateX(-200px);
  }
}
@media screen and (min-width: 768px) {
  .main_container {
    overflow: hidden;
  }
}

.js-o {
  background: url("https://www.flaticon.com/svg/static/icons/svg/16/16894.svg"), #e5e5e5;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}
.js-o.err {
  background: url("https://www.flaticon.com/svg/static/icons/svg/16/16894.svg"), rgba(255, 0, 0, 0.7) !important;
  background-size: 60% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.js-x {
  background: url("https://www.flaticon.com/svg/static/icons/svg/109/109602.svg"), #e5e5e5;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}
.js-x.err {
  background: url("https://www.flaticon.com/svg/static/icons/svg/109/109602.svg"), rgba(255, 0, 0, 0.7) !important;
  background-size: 60% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

/*# sourceMappingURL=style.css.map */
